<div class="search-bar box">
    <img src="./img/icons/search.svg" />
    <input class="search-icon " type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" spellcheck="false" data-ms-editor="true">
</div>

<br> <hr />

<div class="contact__box">
    <h2 class="h2">Media</h2>

    <div class="contact__wrapper">
        {% for person in contact %}
            <a class="box contact__item" href="#">
                <img class="contact__photo" src="{{ person.photo }}" alt="">
                <div class="contact__info">
                    <h3 class="h3">{{ person.name }}</h3> 
                    <object><a>Tel: <span class="highlight">{{ person.tel }}</span></a></object>
                    <object><a><span class="highlight">{{ person.mail }}</span></a></object>
                </div>         
            </a>
        {% endfor %}
    </div>

    <h2 class="h2">Technology</h2>

    <div class="contact__wrapper">
        {% for person in contact %}
            <a class="box contact__item" href="#">
                <img class="contact__photo" src="{{ person.photo }}" alt="">
                <div class="contact__info">
                    <h3 class="h3">{{ person.name }}</h3> 
                    <object><a>Tel: <span class="highlight">{{ person.tel }}</span></a></object>
                    <object><a><span class="highlight">{{ person.mail }}</span></a></object>
                </div>         
            </a>
        {% endfor %}
    </div>

    <h2 class="h2">Business</h2>

    <div class="contact__wrapper">
        {% for person in contact %}
            <a class="box contact__item" href="#">
                <img class="contact__photo" src="{{ person.photo }}" alt="">
                <div class="contact__info">
                    <h3 class="h3">{{ person.name }}</h3> 
                    <object><a>Tel: <span class="highlight">{{ person.tel }}</span></a></object>
                    <object><a><span class="highlight">{{ person.mail }}</span></a></object>
                </div>         
            </a>
        {% endfor %}
    </div>
</div>